* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: #0d1821;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  color: white;
  font-family: poppins;
}

.rules {
  height: 100vh;
  width: 25%;
  position: absolute;
  top: 0;
  left: -25%;
  background-color: rgba(255, 255, 255, 0.13);
  transition: 0.3s;
  display: flex;
  &.active {
    left: 0;
  }
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
